<!DOCTYPE html>
<html lang="vi-VN" xml:lang="vi-VN" xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta content="vi-VN" http-equiv="content-language">
    <meta charset="utf-8">
    <title>Website 2 demo</title>
    
    <link href="https://itviec.com/vi" rel="canonical">
    <link href="https://itviec.com" hreflang="en" rel="alternate">
    <link href="https://itviec.com/vi" hreflang="vi-VN" rel="alternate">
    
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->

    <link href="/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/favicon-196x196.png" rel="icon" sizes="196x196" type="image/png">
    <link href="/favicon-160x160.png" rel="icon" sizes="160x160" type="image/png">
    <link href="/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <meta content="#000000" name="msapplication-TileColor">
    <meta content="/mstile-144x144.png" name="msapplication-TileImage">
    
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="ysHE2dSqU7x2rCnuoOHNZvrkMC9uMxS1uwrBPZc1ImDK9+HK9vgE0uAbxpbF3UNobSGLVaslwP5R2A9eOUCw1A==">
    <meta name="tracking-token" content="a98379174c1ebbc46a85b41c3123f91d04e285e8693b3eb5a7eba7ce111ef64993cafbb931d66f86c45333b76a798d39472ccf964015e9f447e1c97d9afad601">
    <meta name="tracking-url" content="https://tracking.itviec.com">
    <meta name="google-signin-client_id" content="854148892592-ojr6qf0k1bqbm0fm5ohgt7ep8bbiv1sn.apps.googleusercontent.com">
    <meta name="utm-tracking-params" content="">
    <link rel="stylesheet" media="all" href="https://itviec.com/assets/home-0505aa777179afcf3461eb7bda4b209ab4b07d11ceb8b8c293bcd241e6182871.css">
    
    <style>
      .preload_image { display: none; }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-42033311-1', 'auto');
      ga('send', 'pageview');
    </script>
    
    <script async="" src="//rum-static.pingdom.net/pa-56790d9babe53d8f34be63f8.js"></script>
    
    <body class="jobs_index" data-controller="" data-env="production" data-jr-landing-new-url="https://itviec.com/jobrobot/new?locale=vi">
    <!-- Google Tag Manager -->
    <noscript>
    <iframe height='0' src='//www.googletagmanager.com/ns.html?id=GTM-5DSLL8' style='display:none;visibility:hidden' width='0'></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5DSLL8');
    </script>
    <!-- End Google Tag Manager -->
    
    <div id="container">
    <div class="pageHeader shrink">
    <div class="page-header__inner">
    <nav class="pageMenu default-navbar">
    <div class="container-fluid">
    <div class="pageMenu__header">
    <button class="pageMenu__toggle" data-target="#pageMenuToggle" data-toggle="collapse" type="button">
    <div class="pageMenu__toggleContent">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </div>
    </button>
    <a class="pageMenu__logo" data-controller="utm-tracking" href="/vi">
        <img class="logo-itviec" alt="itviec" src="https://haivuonggift.com/wp-content/uploads/2019/10/logo-ban-tay_29.jpg" width="108" height="42">
    </a>
    
    </div>
    <div class="pageMenu__body collapse" id="pageMenuToggle">
    <ul class="pageMenu__itemList pageMenu__itemList--right pageMenu__not_signed_in">
    
    <li class="pageMenu__item hidden-xs">
    <a class="pageMenu__link" data-toggle="modal" data-target="#sign-in-modal" rel="nofollow" href="">Đăng Nhập</a>
    </li>
   
    <li class="pageMenu__item hidden-xs">
        <a class="pageMenu__link" data-toggle="modal" data-target="#sign-in-modal" rel="nofollow" href="">Đăng Ký</a>
        </li>
    </ul>
    </div>
    </div>
    </nav>
    
    </div>
    <!-- End header -->

    <h1 class="slogan">
    1,317 Việc Làm IT Chất Cho Sinh Viên
    </h1>
    <div class="search-form-wrapper clearfix">
    <form id="search_form" class="search-form" action="/viec-lam-it" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
    <div class="search_section_wrapper no_header">
    <div class="search_text_wrapper">
    <!-- <div class="fas fa-search"></div> -->
    
    <div class="search_field_wrapper">
    <input type="text" name="query" id="search_text" value="" class="" style="display: none;"><ul class="tagit ui-widget ui-widget-content ui-corner-all"><li class="tagit-new"><input type="text" class="ui-widget-content ui-autocomplete-input" placeholder="Tìm kiếm theo kỹ năng, chức vụ, công ty" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span></li></ul>
    </div>
    </div>
    </div>
    
    <div class="search_button_wrapper">
    <input type="submit" name="commit" value="Tìm Kiếm" class="search_button button-red left" data-disable-with="Tìm Kiếm">
    </div>
    </form>
    
    </div>
    
    
    <div class="visible-xs">
    
    
    </div>
    <div class="page-header__tag-list hidden-xs">
    <a class="head no-border ilabel popular-keyword" data-controller="utm-tracking" href="https://itviec.com/viec-lam-it/tester/ha-noi">Tester</a>
    <a class="head no-border ilabel popular-keyword" data-controller="utm-tracking" href="https://itviec.com/viec-lam-it/java/ha-noi">Java</a>
    <a class="head no-border ilabel popular-keyword" data-controller="utm-tracking" href="https://itviec.com/viec-lam-it/php/ha-noi">PHP</a>
    <a class="head no-border ilabel popular-keyword" data-controller="utm-tracking" href="https://itviec.com/viec-lam-it/android/ha-noi">Android</a>
    <a class="head no-border ilabel popular-keyword" data-controller="utm-tracking" href="https://itviec.com/viec-lam-it/.net/ha-noi">.NET</a>
    <a class="head no-border ilabel popular-keyword" data-controller="utm-tracking" href="https://itviec.com/viec-lam-it/ios/ha-noi">iOS</a>
    <a class="head no-border ilabel popular-keyword" data-controller="utm-tracking" href="https://itviec.com/viec-lam-it/business-analyst/ha-noi">Business Analyst</a>
    <a class="head no-border ilabel popular-keyword" data-controller="utm-tracking" href="https://itviec.com/viec-lam-it/qa-qc/ha-noi">QA QC</a>
    
    </div>
    
    
    </div>
    <div class="hidden-xs" id="scrolltop" style="display: block;">
    <div class="top-arrow"></div>
    </div>
    
    <div class="top-companies">
    <div class="title">Nhà Tuyển Dụng</div>
    <div class="row">
    <!-- Last updated: "2020-10-05 15:09:37 +0700"-->
    <div class="col-md-4 col-xs-12">
    <!-- Last updated: "2020-10-05 14:41:51 +0700"-->
    <a class="top-company" data-controller="utm-tracking" rel="nofollow" data-method="put" href="/nha-tuyen-dung/toshiba-software-development-viet-nam-co-ltd?track_action=Click+Hiring"><div class="top-company__logo text-center">
    <img alt="Toshiba Software Development (Viet Nam) Co, Ltd Vietnam Small Logo" class=" ls-is-cached lazyloaded" data-src="https://cdn.itviec.com/employers/toshiba-software-development-viet-nam-co-ltd/logo/w170/qmEermNPcp6FuQfTvY7J91na/toshiba-software-development-viet-nam-co-ltd-logo.png" src="https://cdn.itviec.com/employers/toshiba-software-development-viet-nam-co-ltd/logo/w170/qmEermNPcp6FuQfTvY7J91na/toshiba-software-development-viet-nam-co-ltd-logo.png">
    </div>
    <div class="top-company__name text-center">Toshiba Software Development (Viet Nam) Co, Ltd</div>
    <footer class="top-company__footer text-center">
    <span class="top-company__footer-jobs">
    <span class="red link">
    7 Việc làm
    </span>
    <span>&nbsp;-&nbsp;</span>
    </span>
    <span class="top-company__footer-city">Ha Noi</span>
    </footer>
    </a></div>
    <div class="col-md-4 col-xs-12">
    <!-- Last updated: "2020-10-05 14:41:51 +0700"-->
    <a class="top-company" data-controller="utm-tracking" rel="nofollow" data-method="put" href="/nha-tuyen-dung/fpt-software?track_action=Click+Hiring"><div class="top-company__logo text-center">
    <img alt="FPT Software Vietnam Small Logo" class=" ls-is-cached lazyloaded" data-src="https://cdn.itviec.com/employers/fpt-software/logo/w170/mir3HT3xtedbECJY5jVeRRgV/fpt-software-logo.png" src="https://cdn.itviec.com/employers/fpt-software/logo/w170/mir3HT3xtedbECJY5jVeRRgV/fpt-software-logo.png">
    </div>
    <div class="top-company__name text-center">FPT Software</div>
    <footer class="top-company__footer text-center">
    <span class="top-company__footer-jobs">
    <span class="red link">
    15 Việc làm
    </span>
    <span>&nbsp;-&nbsp;</span>
    </span>
    <span class="top-company__footer-city">Ho Chi Minh</span>
    </footer>
    </a></div>
    <div class="col-md-4 col-xs-12">
    <!-- Last updated: "2020-10-05 15:05:32 +0700"-->
    <a class="top-company" data-controller="utm-tracking" rel="nofollow" data-method="put" href="/nha-tuyen-dung/home-credit-vietnam?track_action=Click+Hiring"><div class="top-company__logo text-center">
    <img alt="Home Credit Vietnam  Vietnam Small Logo" class=" ls-is-cached lazyloaded" data-src="https://cdn.itviec.com/employers/home-credit-vietnam/logo/w170/dFAsZ8oiQpLPyUr8Yi5jUWdj/home-credit-vietnam-ppf-logo.png" src="https://cdn.itviec.com/employers/home-credit-vietnam/logo/w170/dFAsZ8oiQpLPyUr8Yi5jUWdj/home-credit-vietnam-ppf-logo.png">
    </div>
    <div class="top-company__name text-center">Home Credit Vietnam </div>
    <footer class="top-company__footer text-center">
    <span class="top-company__footer-jobs">
    <span class="red link">
    4 Việc làm
    </span>
    <span>&nbsp;-&nbsp;</span>
    </span>
    <span class="top-company__footer-city">Ho Chi Minh</span>
    </footer>
    </a></div>
    <div class="col-md-4 col-xs-12">
    <!-- Last updated: "2020-10-05 14:13:24 +0700"-->
    <a class="top-company" data-controller="utm-tracking" rel="nofollow" data-method="put" href="/nha-tuyen-dung/lg-development-center-vietnam?track_action=Click+Hiring"><div class="top-company__logo text-center">
    <img alt="LG Development Center Vietnam Vietnam Small Logo" class=" ls-is-cached lazyloaded" data-src="https://cdn.itviec.com/employers/lg-development-center-vietnam/logo/w170/kb3U11PfmJFtdPgCEMaUJMNn/lg-development-center-vietnam-logo.png" src="https://cdn.itviec.com/employers/lg-development-center-vietnam/logo/w170/kb3U11PfmJFtdPgCEMaUJMNn/lg-development-center-vietnam-logo.png">
    </div>
    <div class="top-company__name text-center">LG Development Center Vietnam</div>
    <footer class="top-company__footer text-center">
    <span class="top-company__footer-jobs">
    <span class="red link">
    8 Việc làm
    </span>
    <span>&nbsp;-&nbsp;</span>
    </span>
    <span class="top-company__footer-city">Ha Noi</span>
    </footer>
    </a></div>
    
    </div>
    </div>
    
    <div class="clearfix"></div>
    <div class="blog-list">
    <div class="blog-list__header">
    <h3 class="blog-list__title">Bài viết mới</h3>
    <div class="blog-list__header-right">
    <a target="_blank" class="more-link more-link--dotted" href="https://itviec.com/blog/">Xem tất cả
    <i class="fa fa-caret-right"></i>
    </a></div>
    </div>
    <div class="blog-list__content">
    <!-- Last updated: "2020-09-16 08:38:32 +0700"-->
    <div class="blog">
    <a class="blog__image-link" href="">
    </a><div class="blog__description">
    <h4 class="blog__description-title">
    <a target="_blank" href="https://itviec.com/blog/react-native-la-gi?utm_campaign=featuredpost&amp;utm_medium=footer&amp;utm_source=itviec.com">React Native là gì? 20+ Tài liệu học React Native từ cơ bản đến nâng cao</a>
    </h4>
    <div class="blog__description-content">
    React Native là một framework được tạo bởi Facebook, cho phép developer xây dựng các ứng dụng di động trên cả Android và iOS chỉ với một ngôn ngữ lập trình duy nhất: JavaScript.&nbsp; Học React Native vừa nhanh chóng, vừa mang lại cho bạn nhiều cơ hội chuyển đổi nghề nghiệp cũng như một […]
    </div>
    <div class="blog__read-more">
    <a target="_blank" class="more-link more-link--dotted" href="https://itviec.com/blog/react-native-la-gi?utm_campaign=featuredpost&amp;utm_medium=footer&amp;utm_source=itviec.com">Read more
    <i class="fa fa-caret-right"></i>
    </a></div>
    </div>
    </div>
    <!-- Last updated: "2020-08-20 18:28:32 +0700"-->
    <div class="blog">
    <a class="blog__image-link" href="https://itviec.com/blog/docker-la-gi-vi-sao-devops-engineer-nen-biet?utm_campaign=featuredpost&amp;utm_medium=footer&amp;utm_source=itviec.com"><img class=" ls-is-cached lazyloaded" data-src="https://cdn.itviec.com/photos/1gPcwJfGmjYKmaiYWLr8VK49/docker-la-gi-fi-200x200.jpg" width="100%" src="https://cdn.itviec.com/photos/1gPcwJfGmjYKmaiYWLr8VK49/docker-la-gi-fi-200x200.jpg">
    </a><div class="blog__description">
    <h4 class="blog__description-title">
    <a target="_blank" href="https://itviec.com/blog/docker-la-gi-vi-sao-devops-engineer-nen-biet?utm_campaign=featuredpost&amp;utm_medium=footer&amp;utm_source=itviec.com">Docker là gì? Vì sao DevOps Engineer nên biết?</a>
    </h4>
    <div class="blog__description-content">
    Docker là platform đứng thứ #1 trong danh sách bảng xếp hạng các platform mà Developer muốn sử dụng nhiều nhất khi phát triển ứng dụng, theo khảo sát của Stack Overflow 2019. Nó cũng đồng thời là cái tên sở hữu vị trí thứ #2 về mức độ yêu thích. Docker thực chất là […]
    </div>
    <div class="blog__read-more">
    <a target="_blank" class="more-link more-link--dotted" href="https://itviec.com/blog/docker-la-gi-vi-sao-devops-engineer-nen-biet?utm_campaign=featuredpost&amp;utm_medium=footer&amp;utm_source=itviec.com">Read more
    <i class="fa fa-caret-right"></i>
    </a></div>
    </div>
    </div>
    
    </div>
    </div>
    
    <div data-controller="tracking" data-tracking-city="" data-tracking-content="" data-tracking-ip-address="113.160.10.38" data-tracking-session-id="e9359313ab2199cac68ffcf0d693f3f4" data-tracking-skill-tags="" data-tracking-source-ids="[1668, 100, 104, 2094]" data-tracking-sources="[&quot;show_hiring&quot;, &quot;show_hiring&quot;, &quot;show_hiring&quot;, &quot;show_hiring&quot;]" data-tracking-user-agent="Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36" data-tracking-user-id=""></div>
    
    
  
    
    <!-- Last updated: "2020-09-29 09:33:41 +0700"-->
    <div id="footer">
    <div class="content show-extras">
    <div class="tags hidden-xs">
    <div class="col-sm-3">
    <h3 class="no-margin job-list-title">Việc làm IT theo kỹ năng</h3>
    <ul>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/java">Java</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/php">PHP</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/.net">.NET</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/tester">Tester</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/android">Android</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/ios">iOS</a></li>
    </ul>
    <a class="link-primary link-primary--underlined" data-controller="utm-tracking" href="/tim-viec-lam-it">Xem tất cả
    </a></div>
    <div class="col-sm-3">
    <h3 class="no-margin job-list-title">Việc làm IT theo cấp bậc</h3>
    <ul>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-back-end">Lập trình viên Back End</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-php">Lập trình viên PHP</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-nodejs">Lập trình viên NodeJS</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-ios">Lập trình viên iOS</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-android">Lập trình viên Android</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-ruby-on-rails">Lập trình viên Ruby on rails</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-java">Lập trình viên Java</a></li>
    </ul>
    <a class="link-primary link-primary--underlined" data-controller="utm-tracking" href="/viec-lam-it-theo-cap-bac">Xem tất cả
    </a></div>
    <div class="col-sm-3">
    <h3 class="no-margin job-list-title">Việc làm IT theo công ty</h3>
    <ul>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/techcombank">Techcombank</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/fpt-software">FPT Software</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/datvietvac">DatVietVAC</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/nfq-asia-8bit-rockstars">NFQ Asia (8bit Rockstars)</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/robert-bosch-engineering-and-business-solutions">Robert Bosch Engineering And Business Solutions</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/dirox">Dirox</a></li>
    </ul>
    <a class="link-primary link-primary--underlined" data-controller="utm-tracking" href="/viec-lam-it-theo-ten-cong-ty">Xem tất cả
    </a></div>
    <div class="col-sm-3">
    <h3 class="no-margin job-list-title">Việc làm IT theo thành phố</h3>
    <ul>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/ho-chi-minh-hcm">Ho Chi Minh</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/ha-noi">Ha Noi</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/da-nang">Da Nang</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/others">Others</a></li>
    </ul>
    </div>
    <div class="clearfix"></div>
    
    </div>
    <div class="mobile-tags visible-xs">
    <div class="mobile-tags__skill less">
    <div class="mobile-tags__skill--title">
    <h3 class="no-margin job-list-title">Việc làm IT theo kỹ năng</h3>
    <span>+</span>
    </div>
    <ul class="mobile-tags__skill--list">
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/java">Java</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/php">PHP</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/.net">.NET</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/tester">Tester</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/android">Android</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/ios">iOS</a></li>
    <a class="link-primary link-primary--underlined" data-controller="utm-tracking" href="/tim-viec-lam-it">Xem tất cả
    </a></ul>
    </div>
    <div class="mobile-tags__title less">
    <div class="mobile-tags__title--title">
    <h3 class="no-margin job-list-title">Việc làm IT theo cấp bậc</h3>
    <span>+</span>
    </div>
    <ul class="mobile-tags__title--list">
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-back-end">Lập trình viên Back End</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-php">Lập trình viên PHP</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-nodejs">Lập trình viên NodeJS</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-ios">Lập trình viên iOS</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-android">Lập trình viên Android</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-ruby-on-rails">Lập trình viên Ruby on rails</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/lap-trinh-vien-java">Lập trình viên Java</a></li>
    <a class="link-primary link-primary--underlined" data-controller="utm-tracking" href="/viec-lam-it-theo-cap-bac">Xem tất cả
    </a></ul>
    </div>
    <div class="mobile-tags__company less">
    <div class="mobile-tags__company--title">
    <h3 class="no-margin job-list-title">Việc làm IT theo công ty</h3>
    <span>+</span>
    </div>
    <ul class="mobile-tags__company--list">
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/techcombank">Techcombank</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/fpt-software">FPT Software</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/datvietvac">DatVietVAC</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/nfq-asia-8bit-rockstars">NFQ Asia (8bit Rockstars)</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/robert-bosch-engineering-and-business-solutions">Robert Bosch Engineering And Business Solutions</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/nha-tuyen-dung/dirox">Dirox</a></li>
    <a class="link-primary link-primary--underlined" data-controller="utm-tracking" href="/viec-lam-it-theo-ten-cong-ty">Xem tất cả
    </a></ul>
    </div>
    <div class="mobile-tags__city less">
    <div class="mobile-tags__city--title">
    <h3 class="no-margin job-list-title">Việc làm IT theo thành phố</h3>
    <span>+</span>
    </div>
    <ul class="mobile-tags__city--list">
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/ho-chi-minh-hcm">Ho Chi Minh</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/ha-noi">Ha Noi</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/da-nang">Da Nang</a></li>
    <li class="tag"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="/viec-lam-it/others">Others</a></li>
    </ul>
    </div>
    
    <div class="mobile-tags__footer less">
    <div class="mobile-tags__footer--title">
    <h3 class="no-margin job-list-title">Về ITviec</h3>
    <span>+</span>
    </div>
    <ul class="mobile-tags__footer--list">
    <li class="tag"><a target="_blank" data-controller="utm-tracking" href="/ve-itviec">Về ITviec.com</a></li>
    <li class="tag"><a target="_blank" data-controller="utm-tracking" href="/lien-he">Liên Hệ</a></li>
    <li class="tag"><a target="_blank" href="https://itviec.com/blog/chinh-sach-bao-mat/">Quy định bảo mật</a></li>
    <li class="tag"><a target="_blank" href="https://itviec.com/blog/terms-and-conditions/">Thoả thuận sử dụng</a></li>
    <li class="tag"><a target="_blank" href="https://itviec.com/blog/quy-che-hoat-dong-cua-itviec/">Quy chế hoạt động</a></li>
    <li class="tag"><a target="_blank" href="https://itviec.com/blog/chinh-sach-giai-quyet-khieu-nai/">Chính sách giải quyết khiếu nại</a></li>
    <li class="tag"><a target="_blank" href="https://itviec.com/blog/press/">Thông cáo báo chí</a></li>
    <li class="tag"><a target="_blank" href="https://itviec.com/blog/faq-cac-cau-hoi-thuong-gap/">Câu hỏi thường gặp</a></li>
    </ul>
    </div>
    
    </div>
    </div>

    <!-- Start footer -->
    <div class="content">
    <div class="bottom">
    <div class="footer-contact hidden-xs">
    <div class="footer-link">
    Liên hệ để đăng tin tuyển dụng tại Hồ Chí Minh: (+84) 977 460 519 - Hà Nội: (+84) 981 448 474 - Email: love@itviec.com
    </div>
    </div>
    <div class="footer-links hidden-xs">
    <div class="col-md-3 footer-links__col">
    <a class="footer-link" data-controller="utm-tracking" href="/vi">Trang Chủ</a>
    <a class="footer-link" data-controller="utm-tracking" href="/viec-lam-it">Việc Làm IT</a>
    <a target="_blank" class="footer-link" rel="canonical" data-controller="utm-tracking" href="/ve-itviec">Về ITviec.com</a>
    <a target="_blank" class="footer-link" rel="canonical" data-controller="utm-tracking" href="/lien-he">Liên Hệ</a>
    <a target="_blank" class="footer-link" rel="canonical" href="https://itviec.com/blog/press/">Thông cáo báo chí</a>
    </div>
    <div class="col-md-3 footer-links__col">
    <a target="_blank" class="footer-link" href="https://itviec.com/blog/chinh-sach-bao-mat/">Quy định bảo mật</a>
    <a target="_blank" class="footer-link" href="https://itviec.com/blog/terms-and-conditions/">Thoả thuận sử dụng</a>
    <a target="_blank" class="footer-link" href="https://itviec.com/blog/chinh-sach-giai-quyet-khieu-nai/">Chính sách giải quyết khiếu nại</a>
    <a target="_blank" class="footer-link" href="https://itviec.com/blog/quy-che-hoat-dong-cua-itviec/">Quy chế hoạt động</a>
    <a target="_blank" class="footer-link" rel="canonical" href="https://itviec.com/blog/faq-cac-cau-hoi-thuong-gap/">Câu hỏi thường gặp</a>
    </div>
    <div class="col-md-6 footer-links__col">
    <!-- <span class="footer-link">Copyright © IT VIEC JSC</span> -->
    <span class="footer-link">MST: 0312192258</span>
    <span class="footer-link">Điện thoại: 028.66811397</span>
    <span class="footer-link">Địa chỉ: 60 Nguyễn Văn Thủ, Phường Đa Kao, Quận 1, Tp.HCM</span>
    
    </div>
    </div>
    <div class="footer-links visible-xs">
    <a class="footer-link" data-controller="utm-tracking" href="/vi">Trang Chủ</a>
    <a class="footer-link" data-controller="utm-tracking" href="/viec-lam-it">Việc Làm IT</a>
    <!-- <span class="footer-link">Copyright © IT VIEC JSC</span> -->
    <span class="footer-link">MST: 0312192258</span>
    <span class="footer-link">Điện thoại: 028.66811397</span>
    <span class="footer-link">Địa chỉ: 60 Nguyễn Văn Thủ, Phường Đa Kao, Quận 1, Tp.HCM</span>
    
    </div>
    </div>
    </div>
    </div>
    
    <script>
      (function(){var e=window._fbq||(window._fbq=[]);if(!e.loaded){var t=document.createElement("script");t.async=true;t.src="//connect.facebook.net/en_US/fbds.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);e.loaded=true}e.push(["addPixelId","788250181187269"])})();window._fbq=window._fbq||[];window._fbq.push(["track","PixelInitialized",{}]);
    </script>
    <noscript>
    <img alt='' height='1' src='https://www.facebook.com/tr?id=788250181187269&amp;ev=PixelInitialized' style='display:none' width='1'>
    </noscript>
    
    <script>
      window.I18n = "vi";
    </script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-979073892"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-979073892');
      
      gtag('event', 'page_view', {
        'send_to': 'AW-979073892',
        'job_id': [],
        'job_locid': "",
        'job_pagetype': "home"
      });
    </script>
    
    <script type="application/ld+json">
    {
    "@context" : "http://schema.org",
    "@type" : "WebSite",
    "name" : "ITviec",
    "url" : "https://itviec.com"
    }
    </script>
    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://itviec.com",
    "logo": "https://itviec.com/assets/logo-itviec-fbed7b03819b355d97638fb834e148df.png",
    "name" : "ITviec",
    "description" : "On ITviec you'll find only top quality IT jobs from leading companies in Vietnam.",
    "sameAs" :
    [
    "https://twitter.com/itviec",
    "https://www.facebook.com/ITviec",
    "https://www.linkedin.com/company/3093114",
    "https://plus.google.com/1055008629934 14828044"
    ]
    }
    </script>
    
    
    
    <script src="https://itviec.com/assets/application-5b857ee8e7b1222eefdd7acb7c22cb3465c5a71847b4d177d2185288f0074e7f.js"></script>
    <script src="https://itviec.com/packs/js/application-dd0cdfcc73e9fd2c9b2d.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=initGoogleSignin" async="async" defer="defer" gapi_processed="true"></script>
    
    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="z-index: 5; display: none;"></ul><iframe id="ssIFrame_google" sandbox="allow-scripts allow-same-origin" aria-hidden="true" frame-border="0" src="https://accounts.google.com/o/oauth2/iframe#origin=https%3A%2F%2Fitviec.com&amp;rpcToken=621983009.4523627" style="position: absolute; width: 1px; height: 1px; left: -9999px; top: -9999px; right: -9999px; bottom: -9999px; display: none;"></iframe>
    
    <script type="text/javascript" id="">var google_conversion_id=938519971,google_custom_params=window.google_tag_params,google_remarketing_only=!0;</script>
    <script type="text/javascript" id="" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","788250181187269");fbq("track","PageView");</script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=788250181187269&amp;ev=PageView&amp;noscript=1"></noscript>
    
    
    <script type="text/javascript" id="">jQuery("#search_form").submit(function(a){window.dataLayer=window.dataLayer||[];window.dataLayer.push({event:"Search"})});</script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/938519971/?value=0&amp;guid=ON&amp;script=0">
    </div>
    </noscript>
    </body></html>,