
# kiểm tra xem mod_rewrite có hỗ trợ không
<IfModule mod_rewrite.c>

#bật chức năng mod_rewrite
RewriteEngine on

#xác thực với máy chủ rằng thư mục và file trong thư mục la có thực
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php

</IfModule>